/MySQLSampleMaven/MySQLSampleMaven/target/
/SQLJava/02_DbVereinClient/target/
/SQLJava/DbVereinClient/target/
/SQLJava/02_DbVereinClient_UebungSA/target/
/SQLJava/02_DbVereinClient_Loesung/02_DbVereinClient_Loesung/target/
/SQLJava/02_DbVereinClient_Loesung/target/
